*{
  margin: 0;
  padding: 0;
  /*background-color: white;*/
}

#allContainer img{
  width: 250px;
  height: 250px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #f1f1f1;
  margin: 10px
}

#alContainer img{
  width: 250px;
  height: 250px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #f1f1f1;
  margin: 10px
}

.blgLineUP{
  background: #9AF5B0;
  width: 1500px;
}

#blgContainer img{
  width: 250px;
  height: 250px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #f1f1f1;
  margin: 10px
}

.edgLineUP{
  background: #9AF5B0;
  width: 1500px;
}

#edgContainer img {
  width: 250px;
  height: 250px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #f1f1f1;
  margin: 10px;

}

.fpxLineUP{
  background: #85FFCD;
  width: 1500px;
}

#fpxContainer img {
  width: 250px;
  height: 250px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #f1f1f1;
  margin: 10px;
}

.igLineUP{
  background: #85FFCD;
  width: 1500px;
}

#igContainer img {
  width: 250px;
  height: 250px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #f1f1f1;
  margin: 10px;
}

.jdgLineUP{
  background: #85FFCD;
  width: 1500px;
}

#jdgContainer img {
  width: 250px;
  height: 250px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #f1f1f1;
  margin: 10px;

}

.lgdLineUP{
  background: #89E8E3;
  width: 1500px;
}

#lgdContainer img {
  width: 250px;
  height: 250px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #f1f1f1;
  margin: 10px;

}

.lngLineUP{
  background: #89E8E3;
  width: 1500px;
}

#lngContainer img {
  width: 250px;
  height: 250px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #f1f1f1;
  margin: 10px;

}

.nipLineUP{
  background: #89E8E3;
  width: 1500px;
}

#nipContainer img {
  width: 250px;
  height: 250px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #f1f1f1;
  margin: 10px;

}

.omgLineUP{
  background: #7BBAD4;
  width: 1500px;
}

#omgContainer img {
  width: 250px;
  height: 250px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #f1f1f1;
  margin: 10px;
}

.raLineUP{
  background: #7BBAD4;
  width: 1500px;
}

#raContainer img {
  width: 250px;
  height: 250px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #f1f1f1;
  margin: 10px;

}

.rngLineUP{
  background: #7BBAD4;
  width: 1500px;
}

#rngContainer img {
  width: 250px;
  height: 250px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #f1f1f1;
  margin: 10px;

}

.tesLineUP{
  background: #79A9F5;
  width: 1500px;
}

#tesContainer img {
  width: 250px;
  height: 250px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #f1f1f1;
  margin: 10px;

}

.ttLineUP{
  background: #79A9F5;
  width: 1500px;
}

#ttContainer img {
  width: 250px;
  height: 250px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #f1f1f1;
  margin: 10px;

}

.upLineUP{
  background: #79A9F5;
  width: 1500px;
}

#upContainer img {
  width: 250px;
  height: 250px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #f1f1f1;
  margin: 10px;

}

.weLineUP{
  background: #2532F5;
  width: 1500px;
}

#weContainer img {
  width: 250px;
  height: 250px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #f1f1f1;
  margin: 10px;

}

.weiboLineUP{
  background: #2532F5;
  width: 1500px;
}

#weiboContainer img {
  width: 250px;
  height: 250px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #f1f1f1;
  margin: 10px;

}
