*{
  margin: 0;
  padding: 0;
  /*background-color: white;*/
}

.foto{
  background-color: blue;
}

img {
  max-width: 100%;
  height: auto;
}

#allContainer img{
  width: 250px;
  height: 250px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #f1f1f1;
  margin: 10px
}

#alContainer img{
  width: 250px;
  height: 250px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #f1f1f1;
  margin: 10px
}

#blgContainer img{
  width: 250px;
  height: 250px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #f1f1f1;
  margin: 10px
}

#edgContainer img {
  width: 250px;
  height: 250px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #f1f1f1;
  margin: 10px;

}

#fpxContainer img {
  width: 250px;
  height: 250px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #f1f1f1;
  margin: 10px;

}

#igContainer img {
  width: 250px;
  height: 250px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #f1f1f1;
  margin: 10px;

}

#jdgContainer img {
  width: 250px;
  height: 250px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #f1f1f1;
  margin: 10px;

}

#lgdContainer img {
  width: 250px;
  height: 250px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #f1f1f1;
  margin: 10px;

}

#lngContainer img {
  width: 250px;
  height: 250px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #f1f1f1;
  margin: 10px;

}

#nipContainer img {
  width: 250px;
  height: 250px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #f1f1f1;
  margin: 10px;

}

#omgContainer img {
  width: 250px;
  height: 250px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #f1f1f1;
  margin: 10px;
}

#raContainer img {
  width: 250px;
  height: 250px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #f1f1f1;
  margin: 10px;

}

#rngContainer img {
  width: 250px;
  height: 250px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #f1f1f1;
  margin: 10px;

}

#tesContainer img {
  width: 250px;
  height: 250px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #f1f1f1;
  margin: 10px;

}

#ttContainer img {
  width: 250px;
  height: 250px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #f1f1f1;
  margin: 10px;

}

#upContainer img {
  width: 250px;
  height: 250px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #f1f1f1;
  margin: 10px;

}

#weContainer img {
  width: 250px;
  height: 250px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #f1f1f1;
  margin: 10px;

}

#weiboContainer img {
  width: 250px;
  height: 250px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #f1f1f1;
  margin: 10px;

}
